<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ title }}</title>
<meta name="description" content="{{ description }}">
<meta name="og:title" content="{{ title }}">
<meta name="og:description" content="{{ description }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="og:image" content="https://we-rate-tweets.glitch.me/images/we-rate-tweets.png">
<meta name="og:image:width" content="682">
<meta name="og:image:height" content="199">
<meta name="twitter:card" content="summary" />
<link id="favicon" rel="icon" href="https://cdn.glitch.com/423c5381-d7b9-4cf0-8897-421c180b22f2%2Ffavicon.ico?1503498238361" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.2.0/dist/instantsearch.min.css">
<link rel="stylesheet" href="/aerial.css">
<link rel="stylesheet" href="/style.css">
<script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.2.0/dist/instantsearch.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2.19.1/moment.min.js"></script>
