<div class="remix-on-glitch">
  <a href="https://glitch.com/edit/#!/remix/regal-class"><img src="https://cdn.glitch.com/2703baf2-b643-4da7-ab91-7ee2a2d00b5b%2Fremix-button.svg" alt="Remix on Glitch" /></a>
  <br>
  <span>to get more tweets rated</span>
</div>
<div>
  <span class="spacer16"></span>
  <img src="https://cdn.glitch.com/423c5381-d7b9-4cf0-8897-421c180b22f2%2FTwitter_Logo_Blue.svg?1503497952567" width="120px" >
  <img src="https://cdn.glitch.com/423c5381-d7b9-4cf0-8897-421c180b22f2%2Falgolia-community-mark-HkbcGJg5Yl.svg?1507042326527" width="80px" >
  <h2>We Rate Tweets</h2>
</div>
