<script>
  // make key server-side information available on the client
  window.weRateTweets = {
    request: {
      username: "{{ request.username }}",
      authenticated: "{{ request.authenticated }}"
    },
    user: {
      name: "{{ user.name }}",
      username: "{{ user.username }}",
      profile_image_url: "{{ user.profile_image_url }}"
    },
    algolia: {
      index_name: "{{ algolia.index_name }}",
      app_id: "{{ algolia.app_id }}",
      search_api_key: "{{ algolia.search_api_key }}"
    },
    environment: {
      project_domain: "{{ environment.project_domain }}",
      allow_indexing_of_other_timelines: "{{ environment.allow_indexing_of_other_timelines }}"
    }
  };
</script>
