<script>
  // make username and algolia app info available on the client
  window.weRateTweets = {
    request: {
      username: "{{ request.username }}"
    },
    user: {
      username: "{{ user.username }}"
    },
    algolia: {
      index_name: "{{ algolia.index_name }}",
      app_id: "{{ algolia.app_id }}",
      search_api_key: "{{ algolia.search_api_key }}"
    },
    environment: {
      project_domain: "{{ environment.project_domain }}",
      allow_indexing_of_other_timelines: "{{ environment.allow_indexing_of_other_timelines }}"
    }
  };
</script>
