<!DOCTYPE html>
<html>
  <head>
    {% include "partials/header.html" %}
  </head>
  <body class="fill-titan">
    <div class="app">
      {% include "partials/logo.html" %}
      <div id='please-stand-by'>
        <h3>Please stand by while we index and rate your tweets...</h3>
      </div>
      <div id='yay-success' style='display: none;'>
        <h3>
          <strong>Success!</strong>
          Your most recent tweets have been indexed with Algolia and rated
          <br>
          according to our <strong>unique Base 10-based formula</strong>.
        </h3>
        <span class="spacer32"></span>
        <p>
          <a href="/tweets" class="btn btn-static-dark">
            &raquo; See how your tweets rate
          </a>
        </p>
      </div>
      <span class="spacer64"></span>
      <div class="footer pos-abt w100p color-white gradient-dark p-large no-p-t no-p-b h80">
        {% include "partials/footer.html" %}
      </div>
    </div>
    <script type="text/javascript">
      // wait at least 2 seconds before animating the next step
      var fetchPromise = fetch('/tweets/index', { method: 'POST' });
      var timePromise = new Promise(function(resolve, reject) {
        setTimeout(function() { resolve(); }, 2000);
      });
      Promise.all([fetchPromise, timePromise]).then(function(response) {
        if (response[0].status === 200) {
          document.getElementById('please-stand-by').style = 'display: none;';
          document.getElementById('yay-success').style = 'display: block;';
        } else {
          alert('Blergh. Indexing and rating the tweets failed. Please check the logs for more information.')
        }
      });
    </script>
  </body>
</html>
