<!DOCTYPE html>
<html>
  <head>
    <title>We Rate Tweets</title>
    <meta name="description" content="Build a search for your tweets with Algolia">
    <link id="favicon" rel="icon" href="https://cdn.glitch.com/423c5381-d7b9-4cf0-8897-421c180b22f2%2Ffavicon.ico?1503498238361" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.2.0/dist/instantsearch.min.css">
    <link rel="stylesheet" href="/aerial.css">
    <link rel="stylesheet" href="/style.css">
    <script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.2.0/dist/instantsearch.min.js"></script>
  </head>
  <body class="fill-titan">
    <div class="app">
      <div class="remix-on-glitch">
        <a href="https://glitch.com/edit/#!/remix/regal-class"><img src="https://cdn.glitch.com/2703baf2-b643-4da7-ab91-7ee2a2d00b5b%2Fremix-button.svg" alt="Remix on Glitch" /></a>
      </div>
      <div class="intro">
        <span class="spacer32"></span>
        <img src="https://cdn.glitch.com/423c5381-d7b9-4cf0-8897-421c180b22f2%2FTwitter_Logo_Blue.svg?1503497952567" width="120px" >
        <img src="https://cdn.glitch.com/423c5381-d7b9-4cf0-8897-421c180b22f2%2Falgolia-community-mark-HkbcGJg5Yl.svg?1507042326527" width="80px" >
        <h2>We Rate Tweets 🔎💖🐦 for {{ user.username }}</h2>
        <span class="spacer16"></span>
      </div>
      <div class="tweetContainer m1200 w100p m-l-r-auto">
        <p>
          <strong>Success!</strong>
          Your most recent tweets have been indexed with Algolia and ranked with the most liked and retweeted at the top.
          <br>
          Type in the search box to find tweets and filter results.
          <br><br>
          <em>An example would be searching "dogs" to see how often you talk about those amazing animals.</em>
        </p>
        <span class="spacer16"></span>
        <div class="searchTweets m100p pos-rel">
          <i class="icon icon-search pos-abt v-center m-l-large text-lg color-logan"></i>
          <input id="search-box" autocomplete="off" name="hidden" type="text" class="w100p fill-white radius6 block elevation1 b-n p-large p-l-xxlarge otn">
        </div>
        <span class="spacer32"></span>
        <div id="hits-container"></div>
        <span class="spacer32"></span>
        <div id="pagination-container"></div>
        <span class="spacer32"></span>
        <a href="/reindex">Reindex</a> &middot;
        <a href="/logout">Logout</a>
      </div>

      <span class="spacer64"></span>
      <div class="footer pos-rel w100p color-white  gradient-dark p-large  no-p-t no-p-b h80">
        <span class="spacer32"></span>
        <p class="vertical-align-middle">Made with 💖 by <a href="https://algolia.com/">Algolia</a></p>
      </div>
    </div>

    <script>
      // make username and algolia app info available on the client
      window.weRateTweets = {
        user: {
          username: "{{ user.username }}"
        },
        algolia: {
          app_id: "{{ algolia.app_id }}",
          search_api_key: "{{ algolia.search_api_key }}"
        }
      };
    </script>
    <script src="/client.js"></script>
  </body>

</html>
