<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html class="fill-titan success">
  <head>
    <title>Success | Twitter Passport and Algolia Example</title>
    <meta name="description" content="an example app implementing twitter oauth with passport and algolia search">
    <link id="favicon" rel="icon" href="https://cdn.glitch.com/423c5381-d7b9-4cf0-8897-421c180b22f2%2Ffavicon.ico?1503498238361" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/aerial.css">
    <link rel="stylesheet" href="/style.css">
    <script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
  </head>
  <body class="fill-titan">
    <div class="app">
      <div class="intro">
        <span class="spacer120"></span>
        <img src="https://cdn.glitch.com/423c5381-d7b9-4cf0-8897-421c180b22f2%2FTwitter_Logo_Blue.svg?1503497952567" width="120px" >
        <img src="https://cdn.glitch.com/423c5381-d7b9-4cf0-8897-421c180b22f2%2Falgolia-community-mark-HkbcGJg5Yl.svg?1507042326527" width="80px" >
        <span class="spacer32"></span>
      </div>

      <div class="welcomeMessage">
        <a href="https://glitch.com/edit/#!/remix/regal-class"><img src="https://cdn.glitch.com/2703baf2-b643-4da7-ab91-7ee2a2d00b5b%2Fremix-button.svg" alt="Remix on Glitch" /></a>
      </div>

      <div class="tweetContainer m1200 w100p m-l-r-auto">
        <h1>
          we rate tweets 🔎💖🐦 for {{ user.username }}
        </h1>
        <span class="spacer32"></span>
        <p>
          Congrats! You've authorized with Twitter and we've pulled in the last 100 of your <em>original</em> tweets and associated some ranking. Try a search and see what your results are! An example would be searching "dogs" to see how often you talk about those amazing animals.
        </p>
        <span class="spacer32"></span>
        <div class="searchTweets m100p pos-rel">
          <i class="icon icon-search pos-abt v-center m-l-large text-lg color-logan"></i>
          <input autocomplete="off" name="hidden" type="text" style="display:none;" class="w100p fill-white radius6 block elevation1 b-n p-large p-l-xxlarge otn" placeholder="search keyword for your tweets">
        </div>
        <span class="spacer32"></span>
        <ul id="tweetSearchResults">
        </ul>
      </div>

      <span class="spacer64"></span>
      <div class="footer pos-abt w100p color-white  gradient-dark p-large  no-p-t no-p-b h80">
        <span class="spacer32"></span>
        <p class="vertical-align-middle">Made with 💖 by Algolia</p>
      </div>

      <a href="/logout">Logout</a>
    </div>
    <script>
      window.we_rate_tweets = { username: "{{ user.username }}" };
    </script>
    <script src="/client.js"></script>
    <script src="/search.js"></script>
  </body>

</html>
