<!DOCTYPE html>
<html>
  <head>
    {% include "partials/header.html" %}
  </head>
  <body class="fill-titan">
    <div class="app">
      {% include "partials/logo.html" %}
      <div class="m1200 w100p m-l-r-auto">
        <h3>Type in the search box to find tweets and filter results.</h3>
        <p>
          <em>An example would be searching "dogs" to see how often you talk about those amazing animals.</em>
        </p>
        <span class="spacer8"></span>
        <div id="stats-container" class="text-right text-sm text-muted"></div>
        <span class="spacer16"></span>
        <div class="m100p pos-rel">
          <i class="icon icon-search pos-abt v-center m-l-large text-lg color-logan"></i>
          <input id="search-box" autocomplete="off" name="hidden" type="text" class="w100p fill-white radius6 block elevation1 b-n p-large p-l-xxlarge otn">
        </div>
        <span class="spacer16"></span>
        <div id="hits-container"></div>
        <span class="spacer32"></span>
        <div id="pagination-container"></div>
        <span class="spacer32"></span>
        <a target="_blank" href="/{{ request.username }}/tweets">Shareable link</a> &middot;
        {% if request.username == user.username %}
          <a href="/patience">Index latest tweets</a> &middot;
        {% endif %}
        {% if user.username %}
          {% if request.username != user.username %}
            <a href="/tweets">My tweets</a> &middot;
          {% endif %}
          <a href="/logout">Logout</a>
        {% else %}
          <a href="/">Rate your own tweets</a>
        {% endif %}
      </div>
      <span class="spacer64"></span>
      <div class="footer pos-rel w100p color-white gradient-dark p-large no-p-t no-p-b h80">
        {% include "partials/footer.html" %}
      </div>
    </div>

    <script>
      // make username and algolia app info available on the client
      window.weRateTweets = {
        request: {
          username: "{{ request.username }}"
        },
        user: {
          username: "{{ user.username }}"
        },
        algolia: {
          index_name: "{{ algolia.index_name }}",
          app_id: "{{ algolia.app_id }}",
          search_api_key: "{{ algolia.search_api_key }}"
        }
      };
    </script>
    <script src="/client.js"></script>
  </body>
</html>
