<!DOCTYPE html>
<html>
  <head>
    {% set title = "We Rate Tweets - Search your tweets with Algolia and remix with Glitch" %}
    {% set description = "Made by Algolia, this app shows you how to use the Twitter and Algolia APIs to create a search for you tweets." %}
    {% include "partials/header.html" %}
  </head>
  <body class="fill-titan">
    {% include "partials/logo.html" %}
    <div id='please-stand-by' class="m600 m-l-r-auto text-center">
      <h2>Please stand by while @{{ request.username }}'s tweets are fetched and indexed...</h2>
      <span class="spacer32"></span>
      <img height="200" class="inline-block radius6" src="/images/fidget-pupper.gif">
      <span class="spacer8"></span>
      <span class="text-sm text-muted">13/10 would keep spinning</span>
    </div>
    <div id='yay-success' class="m600 m-l-r-auto text-center" style='display: none;'>
      <h2>Success!</h2>
      <p>
        @{{ request.username }}'s <strong id="tweets-indexed-count"></strong> most recent tweets have been indexed with Algolia.
      </p>
      <span class="spacer32"></span>
      <p>
        <a id="continue-btn" href="/{{ request.username }}/tweets/search" class="btn btn-static-secondary">
          &raquo;&nbsp; Search @{{ request.username }}'s tweets
        </a>
      </p>
      <span class="spacer32"></span>
      <p class="text-muted">
        Tip: Tweets with the highest combined total of likes and retweets <br> will appear at the top of the search results on the next page.
      </p>
    </div>
    <div class="fixed-footer-container">
      {% include "partials/footer.html" %}
    </div>
    <script src="/tweets/indexing.js"></script>
  </body>
</html>
