<!DOCTYPE html>
<html>
  <head>
    {% include "partials/header.html" %}
  </head>
  <body class="fill-titan">
    {% include "partials/logo.html" %}
    <div id='please-stand-by' class="m600 m-l-r-auto text-center">
      <h3>Please stand by while we index and rate @{{ request.username }}'s tweets...</h3>
      <span class="spacer64"></span>
      <img class="georges" height="75" src="/images/georges.svg">
      &nbsp;
      <img class="elisabeth" height="100" src="/images/elisabeth.svg">
    </div>
    <div id='yay-success' class="m600 m-l-r-auto text-center" style='display: none;'>
      <h2>Success!</h2>
      <p>
        @{{ request.username }}'s most recent tweets have been indexed with Algolia
        <br>
        and rated according to our <strong>unique Base 10-based formula</strong>.
      </p>
      <span class="spacer32"></span>
      <p>
        <a id="continue-btn" href="/{{ request.username }}/tweets/search" class="btn btn-static-dark">
          &raquo;&nbsp; See how @{{ request.username }}'s tweets rate
        </a>
      </p>
    </div>
    <div class="fixed-footer-container">
      {% include "partials/footer.html" %}
    </div>
    <script src="/tweets/indexing.js"></script>
  </body>
</html>
