<!DOCTYPE html>
<html>
  <head>
    <title>We Rate Tweets - Search @{{ request.username }}'s tweets</title>
    <meta name="description" content="See {{ request.username }}'s most popular tweets and learn how to use the Algolia and Twitter APIs.">
    {% include "partials/header.html" %}
  </head>
  <body class="fill-titan">
    {% include "partials/logo.html" %}
    <div class="m1200 w100p m-l-r-auto">
      {% if request.username == user.username %}
        <div class="text-center">
          <a href="https://twitter.com/{{ user.username}}" target="_blank">
            <img class="radius100p" src="{{ user.profile_image_url }}">
          </a>
          <h3>
            <a class="color-bunting text-bold" href="https://twitter.com/{{ user.username}}" target="_blank">{{ user.name}}</a>
            &middot;
            <a class="text-muted" href="https://twitter.com/{{ user.username }}" target="_blank">@{{ user.username }}</a>
          </h3>
        </div>
        <span class="spacer16"></span>
      {% else %}
        <div class="text-center">
          <h3>
            <a class="text-muted" href="https://twitter.com/{{ request.username}}" target="_blank">@{{ request.username}}</a>
          </h3>
        </div>
      {% endif %}
      <div id="stats-container" class="text-right text-sm text-muted"></div>
      <span class="spacer8"></span>
      <div class="m100p pos-rel">
        <i class="icon icon-search pos-abt v-center m-l-large text-lg color-logan"></i>
        <input id="search-box" autocomplete="off" name="hidden" type="text"
          class="w100p fill-white radius6 block elevation1 b-n p-large p-l-xxlarge otn">
      </div>
      <span class="spacer8"></span>
      <div class="text-right">
        <a href="https://algolia.com/"><img height="16" src="/images/search-by-algolia.png"></a>
      </div>
      <span class="spacer8"></span>
      <div id="hits-container"></div>
      <span class="spacer32"></span>
      <div class="m600 m-l-r-auto text-center">
        <div id="pagination-container"></div>
        <span class="spacer16"></span>
        <div id="other-links">
          <a href="/">About</a> &middot;
          {% if request.authenticated %}
            {% if request.username != user.username %}
              <a href="/{{ user.username }}/tweets/search">My tweets</a> &middot;
            {% endif %}
            {% if user.username == request.username or environment.allow_indexing_of_other_timelines %}
              <a href="/{{ request.username }}/tweets/indexing">Reindex</a> &middot;
            {% endif %}
            <a href="/logout">Logout</a>
          {% else %}
            <a href="/">Try with your own tweets</a>
          {% endif %}
        </div>
        {% if environment.allow_indexing_of_other_timelines %}
          <span class="spacer32"></span>
          <input id="other-user-input" type="text" style="background: none"
            class="w200 fill-white radius6 elevation1 b-n p-small p-l-small otn" placeholder="@username">
          &nbsp;&nbsp;
          <btn id="other-user-button" class="btn btn-static-secondary">Go</btn>
        {% endif %}
        <span class="spacer64"></span>
      </div>
    </div>
    {% include "partials/footer.html" %}
    <script src="/tweets/search.js"></script>
  </body>
</html>
