* {
  box-sizing: border-box;
}

input {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  width: 60%;
  height: 45%
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.text-18px {
  font-size: 18px;
}

.footer {
  font-size: 60%;
  bottom: 0;
  left: 0
}

.fixed-footer-container .footer {
  position: fixed;
}

.we-rate-tweets-logo {
  margin: 0 auto -20px;
  width: 600px;
}

@media (max-width: 600px) {
  .we-rate-tweets-logo {
    margin: 0 auto -20px;
    width: 300px;
  }
}
.algolia-mark {
  position: absolute;
  top: 25px;
  left: 25px;
}

.remix-on-glitch {
  position: absolute;
  top: 25px;
  right: 25px;
}

.hit-text {
  word-break: break-word;
  white-space: pre-line;
}

.card-border {
  padding-bottom: 80px;
}

.hit-footer {
  position: absolute;
  bottom: 15px;
}

.tweet-rating {
  position: absolute;
  bottom: 50px;
  right: 20px;
}

.rating-row {
  position: absolute;
  right: 0;
  bottom: 5px;
}

.tweet-rating .emoji-rating {
  position: absolute;
  right: 46px;
  bottom: -4px;
  height: 32px;
  z-index: 2;
  font-size: 18px;
}

.tweet-rating .emoji-bubble {
  position: absolute;
  right: 40px;
  bottom: 0px;
  height: 32px;
  z-index: 1;
}

.tweet-rating .rating-text {
  position: absolute;
  right: 0;
  bottom: 5px;
}

.tweet-rating .bird {
  position: absolute;
}

.bird.bird-george {
  height: 26px;
  right: 0;
}

.bird.bird-elisabeth {
  height: 36px;
  right: 0;
}

.bird.bird-hector {
  height: 36px;
  right: 5px;
}

.twitter-icon {
  vertical-align: bottom;
  width: 20px;
  height: 20px;
}

@media (max-width: 1200px) {
  .desktop-only {
    display: none;
  }
}

input {
  background: url('data:image/svg+xml;utf8,<svg width=\'40\' height=\'40\' viewBox=\'0 0 40 40\' xmlns=\'http://www.w3.org/2000/svg\'><path d=\'M24.034 29.906a15.95 15.95 0 0 1-8.01 2.143C7.174 32.05 0 24.873 0 16.023S7.174 0 16.024 0c8.85 0 16.025 7.174 16.025 16.024 0 2.918-.78 5.654-2.144 8.01l8.96 8.962a2.998 2.998 0 0 1 .008 4.246l-1.632 1.632a2.998 2.998 0 0 1-4.247-.007l-8.96-8.96zm-8.01.54c7.965 0 14.422-6.457 14.422-14.422 0-7.965-6.457-14.422-14.422-14.422-7.965 0-14.422 6.457-14.422 14.422 0 7.965 6.457 14.422 14.422 14.422zm9.55-1.24l3.63-3.632 8.956 8.955c.392.392.4 1.02.01 1.41l-2.23 2.23a1 1 0 0 1-1.41-.01l-8.956-8.955zm-9.55-25.2c-.663 0-1.32.054-1.965.16a.8.8 0 0 0 .26 1.58c.56-.09 1.128-.137 1.704-.137a.8.8 0 0 0 0-1.604zm-5.457 1.308a12.016 12.016 0 0 0-6.56 10.71.8.8 0 0 0 1.6 0c0-3.956 2.227-7.516 5.69-9.283a.8.8 0 0 0-.73-1.426z\' fill=\'%238994c6\' fill-rule=\'evenodd\'/></svg>');
  background-repeat: no-repeat;
  background-position: center left 1em;
  background-size: 2em;
}

/* Override aerial */
.card-border:before {
  display: none
}

/* override instantsearch */
.ais-search-box--magnifier {
  display: none;
}

.ais-search-box {
  max-width: inherit;
}

.ais-hits em {
  background: yellow;
  font-style: normal;
}

.ais-search-box--reset {
  top: 25px;
  right: 25px;
}

.ais-search-box--reset svg {
  fill: #ccc;
}

/* copied from the instantsearch theme located at
   https://cdn.jsdelivr.net/npm/instantsearch.js@2.2.0/dist/instantsearch-theme-algolia.css */
.ais-pagination {
  background: #FFFFFF;
  -webkit-box-shadow: 0 1px 1px 0 rgba(85, 95, 110, 0.2);
          box-shadow: 0 1px 1px 0 rgba(85, 95, 110, 0.2);
  border: solid 1px #D4D8E3;
  border-radius: 4px;
  display: inline-block;
  padding: 8px 16px;
  width: auto; }
  .ais-pagination--item {
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    width: 28px; }
    .ais-pagination--item:hover {
      background: rgba(39, 81, 175, 0.1); }
    .ais-pagination--item__disabled {
      color: #BBB;
      opacity: .5;
      pointer-events: none;
      visibility: visible; }
    .ais-pagination--item__active {
      background: #3369E7; }
      .ais-pagination--item__active .ais-pagination--link {
        color: #FFFFFF; }
  .ais-pagination--link {
    color: #697782;
    display: block;
    text-decoration: none;
    height: 100%;
    width: 100%; }
    .ais-pagination--link:hover {
      color: #3369E7;
      text-decoration: none; }

/* tweak the theme to avoid decoration on active pages*/
.ais-pagination--item__active .ais-pagination--link {
  text-decoration: none; }

/* CSS HACK */

/* full screen */
.tweet-item {
  flex: 0 1 33%;
}

/* half screen or tablet */
@media (max-width: 1000px ) {
  .tweet-item {
      flex: 0 1 50%
  }
}
/* mobile */
@media (max-width: 600px) {
  .tweet-item {
    flex: 0 1 100%;
  }
}
